tqdm
pybenchmark
graphviz
torch<=0.3.1
pandas
onnx
onnx_caffe2
pretrainedmodels
torchvision
matplotlib
filelock
scikit_image
inflection
numpy
humanize
Pillow
PyQt5
scipy
skimage
tensorboardX
tensorflow
PyYAML
pycocotools
